<h2>Home</h2>

<div id="vue-root" v-cloak>
    <h2>{{ header }}</h2>
    <current-time></current-time>
</div>

@section scripts
{
    @Html.Script("~/dist/commons.js")
    @Html.Script("~/dist/home.js")
}
