<h2>Page 1</h2>

<div id="vue-root" v-cloak>
    <h2>{{ header }}</h2>
</div>

@section scripts
{
    <script src="~/dist/commons.js" type="text/javascript"></script>
    <script src="~/dist/page1.js" type="text/javascript"></script>
}
